*{
    padding:0px;
    margin:0px;
}

body {
    background-image: url("../images/hip-square.png");
    z-index: 0
}

header{
    height:100px;
    width:100%;
    background: #fff;
    border-bottom: 8px solid #e4d2d3;
}

h1 {
    color: #29352e;
    font-family: 'Lora', 'Georgia', serif;
    text-align: left;
    border-bottom: 4px solid #e4d2d3;
    font-size: 20pt
}

#top{
    color: #fff;
    font-family: 'Lora', 'Georgia', serif;
    text-align: right;
    font-size: 30pt;
}

h2{
    color: #29352e;
    font-family: 'Lora', 'Georgia', serif;
    text-align: left;
    border-bottom: 2.5px solid #e4d2d3;
    font-size: 16pt
}

h3{
    color: #29352e;
    font-family: arial;
    border-left: 4px solid #e4d2d3;
    font-size: 12pt;
    padding-left:7px;
} 

p, li {
    font-family: arial;
    line-height: 1.5;
    color: #29352e;
}

.menu{
    color: #29352e;
    font-family: 'Lora', 'Georgia', serif;
    font-size: 12pt;
}

.tableTitle{
    width:180px;
    height:30px;
    border-left: 4px solid #fff;
    background-color: #e4d2d3;
    text-align: center;
    position:absolute;
    margin-top:-60px;
    margin-left:-15px;
    opacity: .85;
    padding-top:8px;
    font-weight:bold;  
}

img {}

.imgLinks {
    border-radius: 3px;
    border: 3px solid #ddd;
    padding: 3px;
    height:48px;
    width:48px;
    position:relative;
    margin:10px 0px 0px 0px;
}

.imgTable {
    border: 3px solid #ddd;
    padding: 3px;
    height:180px;
    width:180px;
}

.imgHS {
    border: 2px solid #e4d2d3;
    float:left;
    width:150px;
    height:150px;
    padding: 2px;
    margin: 10px;
}

div {
}

#topbox{
    float:left;
    height:100px;
    margin-left: 40px;
    margin-top:30px;
    background-color: #29352e;
    padding:20px 30px 0px 30px;
}

#leftbar{
    background-color: #fff;
    margin-right: 8%;
    padding:0px 20px 0px 20px;
    border-left:2px solid #e4d2d3;
    text-align: bottom;
    float:right;
    margin-top:65px;
}

#centerbar{
    background-color: #fff;
    padding:0px 20px 0px 20px;
    text-align: bottom;
    float:right;
    margin-top:65px;
}

#rightbar{
    background-color: #fff;
    padding:0px 20px 0px 20px;
    border-right:2px solid #e4d2d3;
    text-align: bottom;
    float:right;
    margin-top:65px;
}

#bottom{
    position: relative;
    /*bottom:0;*/
    background-color: #fff;
    width:100%;
    height:45px;
/*    margin: 600px 0px 0px 0px;
    padding:20px 0px 0px 0px;
    position:absolute;
    top:230px;*/
    border-top:8px solid #e4d2d3;
    border-bottom:8px solid #e4d2d3;
    text-align: center
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer{
    height:300px;
}

.clearfix::after {
        content: "";
        display: block;
        clear: both;
}

section{

}

#left{
    display: inline-block;
    float:left;
    width:550px;
    background-color: #f0ebe6;
    margin-top: 30px;
    margin: 30px;  
    margin-left:80px;  
    border: 3px solid #e4d2d3;
    padding: 20px 3% 20px 3%;
    min-height: 500px;
}

#right{
    
    float:left;
    width:180px;
    background-color: #f0ebe6;
    margin-top: 30px;
    margin-left: 20px;
    border: 3px solid #e4d2d3;
    padding: 20px 3% 20px 3%;
}

#contactbar{
    position: relative;
    left:-12px;
    top:5px;
    width:220px;
}

aside{
}

.pink{
    float:right;
  width:3px;
    height:20px;
    background-color: #e4d2d3;
    margin:77px 8px 0px 8px;
}

.white{
    float:right;
    width:80px;
    height:20px;
    margin-top:77px;
    background-color: #fff;
}

table{
    padding-top:20px;
}
tr{
    float:left;
}
td{
    padding:0px 40px 10px 40px;
}

form{
    margin-top:30px;
}

input{}

.Line{
    width: 100%;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box;

}

.Message{
    width: 100%;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    height:300px;
}


